<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BondVillains.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87F1792E1CC9211A005D8638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F179421CC9211A005D8638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F1794D1CC9211A005D8638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
